
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.first-box {
    background-color: #f8d7da;
    padding: 20px;
    border: 1px solid #f5c6cb
}
.second-box {
    background-color: #d1ecf1;
    padding: 10px;
    border: 5px solid black;
}

.third-box {
    background-color: #d4edda;
    padding: 10px;
    margin: 30px;
    border: 2px solid #c3e6cb;
    border-radius: 15px;
}
